@using DF.RealEstate.Web.Areas.App.Models.Addresses
@using DF.RealEstate.Web.Areas.App.Models.Common.Modals;

@model GetForEditCityModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.Id.HasValue ? (L("EditCity") + ": " + Model.Name) : L("AddNewCity")))

<div class="modal-body">
    <form name="ModalForm" role="form" novalidate class="form-validation">
        @if (Model.Id.HasValue)
        {
            <input type="hidden" name="Id" value="@Model.Id.Value" />
        }
        <input type="hidden" id="ProvinceId" name="ProvinceId" value="@ViewBag.ProvinceId" />
        <div class="form-group">
            <label for="Name">@L("Name")</label>
            <input id="Name" type="text" name="Name" class="form-control" value="@Model.Name" required />
        </div>
        <div class="form-group">
            <label for="Slug">@L("Slug")</label>
            <input id="Slug" type="text" name="Slug" class="form-control" value="@Model.Slug" disabled  />
        </div>

    </form>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
