@using DF.RealEstate.Web.Areas.App.Models.Advertisements
@using DF.RealEstate.Entities;

@model AdvertisementViewModel

@section Scripts
{
    <script src="/view-resources/Areas/App/Views/Homes/AdvertisementTab.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

    <input type="hidden" id="HomeId" name="HomeId" value="@ViewBag.HomeId" />
    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-header card-header-tabs-line">
                <div class="card-title">
                    <h3>@ViewBag.HomeName</h3>
                </div>
                <div class="card-toolbar">
                    @await Html.PartialAsync("_DetailMenu.cshtml", new DF.RealEstate.Dto.IdTitleDto { Id = @ViewBag.HomeId, Title = "Advertisement" })
                    @*@await Html.PartialAsync("_DetailMenu.cshtml", new DF.RealEstate.Dto.IdTitleDto { Id = (int)Model.Id.Value, Title = "Advertisement" })*@
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">

                    <label for="Type" class="col-md-1 col-form-label">@L("Type")</label>
                    <select id="Type" name="Type" class="form-control bs-select col-md-3" asp-for="Type" title="Choose One Of The Following...">
                        <option value="" selected>@L("All")</option>
                        @foreach (var type in Enum.GetValues<AdvertisementType>())
                        {
                            <option value="@((int)type)">@type</option>
                        }

                    </select>
                    <div class="col-md-6"></div>
                        <div class="text-right">
                            <button id="CreateNewBtn" class="btn btn-primary form-control " tabindex="1">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <i class="fa fa-plus"></i> @L("AddNewAdvertisement")

                            </button>
                        </div>
                </div>
                <div class="align-items-center">
                    <table id="DataTable" class="display table table-separate table-head-custom no-footer dtr-inline dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@L("Actions")</th>
                                <th>@L("AvailableDate")</th>
                                <th>@L("NetPrice")</th>
                                <th>@L("Type")</th>
                                <th>@L("HideAddress")</th>
                                <th>@L("HidePreciseLocation")</th>
                                <th>@L("ContactByPhone")</th>
                                <th>@L("ContactByEmail")</th>
                                <th>@L("ContactSiteMessage")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
