@using DF.RealEstate.Web.Areas.App.Models.Advertisements
@using DF.RealEstate.Entities;

@model AdvertisementViewModel

@section Scripts
{
    <script src="/view-resources/Areas/App/Views/Homes/AmenityTab.js" asp-append-version="true"></script>
}
<input type="hidden" id="HomeId" name="HomeId" value="@ViewBag.HomeId" />
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-header card-header-tabs-line">
                <div class="card-title">
                    <h3>@L("Amenities")</h3>
                </div>
                <div class="card-toolbar">
                    @await Html.PartialAsync("_DetailMenu.cshtml", new DF.RealEstate.Dto.IdTitleDto { Id = @ViewBag.HomeId, Title = "Amenity" })
                    @*@await Html.PartialAsync("_DetailMenu.cshtml", new DF.RealEstate.Dto.IdTitleDto { Id = (int)Model.Id.Value, Title = "Advertisement" })*@
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">

                    <div class="text-right">
                        <button type="button" id="saveInfoBtn" class="btn btn-danger ">@L("Save")</button>
                    </div>
                </div>
                <form name="informationsForm">

                    <div class="form-group">
                        <div class="col-form-label">
                            <div class="checkbox-inline" id="CheckBoxes">

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
